<div id="group-info">
    <h1>$group_name</h1>
    #foreach($gi_group_module in $group_modules)
        #set($gi_group_module_anno = $gi_group_module.getAnnotation())
        <a href="/modules/${builder.toOutputFriendlyName($gi_group_module_anno.id())}.html">
            <div class="info-item module-info">
                <h2>$gi_group_module_anno.id()</h2>
                <p class="inline">Aliases: </p>
                <ul class="highlight inline">
                    #foreach($alias in $gi_group_module_anno.aliases())
                        <li>$alias</li>
                    #end
                </ul>
                <p>$gi_group_module_anno.help()</p>
                <br>
                <p>Commands:</p>
                <ul class="module-command-info">
                    #foreach($gi_command in $gi_group_module.getPublicCommands())
                        #set($gi_command_anno = $gi_command.getAnnotation())
                        <li><span class="highlight">${gi_command_anno.id()}</span>: ${gi_command_anno.help()}</li>
                    #end
                </ul>
            </div>
        </a>
    #end
</div>
