<div id="module-info">
    <h1><a href="/groups/${builder.toOutputFriendlyName($module_group)}.html">$module_group</a> &gt; $module_id</h1>
    <p class="inline">Aliases: </p>
    <ul class="highlight inline">
        #foreach($alias in $module_anno.aliases())
            <li>$alias</li>
        #end
    </ul>
    <p>$module_anno.help()</p>
    #parse("commands_template.vm")
</div>
