<div class="module-info">
    <h1>$this-name</h1>
    <ul class="aliases">
        #foreach($alias in $this-anno.aliases())
            <li>$alias</li>
        #end
    </ul>
    <p>$this-anno.description()</p>
    #foreach($command in $this-module.getCommands())
        #set($command-anno = $command.getCommand())
        <div class="command-info">
            <h2>$command-anno.name()</h2>
            <ul class="aliases">
                #foreach($alias in $command-anno.aliases())
                    <li>$alias</li>
                #end
            </ul>
            <p>$command-anno.help()</p>
        </div>
    #end
</div>
