<!doctype html>
<html>
    <head>
        <title>$app-name | $this-name</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="image/x-icon" href="$app-favicon"/>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="reset.css"/>
        <link href="https://fonts.googleapis.com/css?family=Wire+One|Raleway" rel="stylesheet">

        #if($font-awesome)
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        #end

        <meta property="og:site_name" content="$app-name"/>
        <meta property="og:title" content="$app-name | Help"/>
        <meta property="og:description" content="$app-description"/>
        <meta property="og:image" content="$app-logo"/>
    </head>
    <body>
        <nav>
            <div id="app-info">
                <h1>$this-name</h1>
                <img src=$app-logo alt="Logo representing the application."/>
            </div>
            <ul>
                #foreach($entry in $all-groups)
                    #set($group = $entry.key)
                    #set($group-modules = $entry.value)
                    <li class="group #if($group.equals($this-group)) selected #end">
                        <ul class="module">
                            #foreach($module in $entry.value)
                                #set($module-name = $module.getModule().name())
                                <li class="module #if($module-name.equals($this-name)) selected #end">
                                    $module-name
                                </li>
                            #end
                        </ul>
                    </li>
                #end
            </ul>
        </nav>
        <!-- INSERT CONTENT HERE -->
    </body>
</html>
