<!doctype html>
<html>
    <head>
        <title>$app_name | $page_name</title>
        <meta charset="UTF-8"/>

        #if($app_icon_type && $app_icon)
            <link rel="icon" type="image/${app_icon_type}" href="$app_icon"/>
        #end

        <link rel="stylesheet" href="/css/styles.css" type="text/css" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        ## We only ever use this on the homepage, no lead to load it for others.
        #if($page_name.equals("Home"))
            <link rel="stylesheet" type="text/css" href="/css/darcula.css">
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
            <script>hljs.initHighlightingOnLoad();</script>
        #end

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/scripts.js"></script>

        <meta property="og:site_name" content="$app_name"/>
        <meta property="og:title" content="$app_name | Help"/>
        <meta property="og:description" content="$app_description"/>
        <meta property="og:image" content="$app_logo"/>
    </head>
    <body>
        <header>
            <a href="/">
                #if($app_logo)
                    <img id="logo" src=$app_logo alt="Logo representing the application."/>
                #end

                <h1 class="hover">$app_name</h1>
            </a>
            <ul>
                #foreach($social_link in $social_links)
                    <li class="hover"><a href="$social_link.getLink()" target="_blank"><span class="$social_link.getIcon()"></span></a></li>
                #end
            </ul>
            <form class="js" action="/all-commands.html">
                <input id="search" type="text" placeholder="Search Commands..." name="search">
            </form>
        </header>
        <div id="content">
            <nav>
                <a href="/all-commands.html"><h1 class="hover">All Commands</h1></a>
                <ul>
                    #foreach($entry in $groups.entrySet())
                        #set($_group_name = $entry.key)
                        #set($_group_modules = $entry.value)
                        <li class="hover #if($_group_name.equals($module_group)) selected #end">
                            <a href="/groups/${builder.toOutputFriendlyName($_group_name)}.html"><h2>$_group_name</h2></a>
                            <ul class="module">
                                #foreach($_group_module in $_group_modules)
                                    #set($_group_module_name = $_group_module.getAnnotation().id())
                                    <a href="/modules/${builder.toOutputFriendlyName($_group_module_name)}.html">
                                        <li class="module hover #if($_group_module_name.equals($module_id)) selected #end">
                                            <span class="icon $_group_module.getModuleClass().getAnnotation($icon_class).icon()"></span><h3 class="inline">$_group_module_name</h3>
                                        </li>
                                    </a>
                                #end
                            </ul>
                        </li>
                    #end
                </ul>
            </nav>
            <main>
                #if($content.endsWith(".vm"))
                    #parse($content)
                #else
                    $content
                #end
            </main>
        </div>
    </body>
</html>
