@import "reset.css";

/*
	Whole Page
 */

html {
    --pri-color: #202020;
    --sec-color: #282828;
    --tir-color: #3B3B3B;
    --text-color: white;
    --lowlight: 0.75;

    --header-height: 64px;
    --padding: calc(var(--header-height) / 4);
}

html, body, .content, nav, main {
    height: calc(100vh - var(--header-height) - (var(--padding) * 2));
}

body {
    background-color: var(--pri-color);
    color: var(--text-color);

    font-family: Raleway, sans-serif;
    font-size: large;
}

h1, h2, h3, h4, h5, h6, a {
    color: var(--text-color);
}

pre, code {
    font-family: monospace;
}

a {
    text-decoration: none;
}

/*
	Misc
 */

li {
    list-style-type: none;
}

.hover:not(.selected) {
    opacity: var(--lowlight);
}

.hover:hover {
    opacity: 1.00;
}

.inline {
    display: inline;
}

/*
	Header
 */

header {
    height: var(--header-height);
    line-height: calc(var(--header-height) - var(--padding));

    background-color: var(--tir-color);
    padding: var(--padding);
}

header * {
    height: 100%;
    vertical-align: middle;
    display: inline;
    font-size: calc(var(--header-height) / 1.5);
}

header ul {
    height: 100%;
    vertical-align: middle;
}

header h1, header li {
    margin: 0 4px;
}

form {
    float: right;
}

#logo {
    height: var(--header-height);
}

#search {
    outline: none;

    background-color: var(--sec-color);
    color: rgba(var(--text-color), var(--lowlight));
    height: 50%;
    font-size: 28px;
    padding: var(--padding);

    border: 2px solid var(--tir-color);
    border-radius: 8px;
}

/*
	Panels
 */

#content {
    height: 100%;
}

/*
	Nav
 */

nav {
    float: left;
    width: 256px;
    background-color: var(--sec-color);
    height: 100%;
}

.bot-title  {
    text-align: center;
}

nav h1 {
    padding: var(--padding) 0 var(--padding) var(--padding);
}

nav ul {
    padding: 0 0 var(--padding) var(--padding);
    list-style: none;
}

/*
	Content
 */

main {
    padding: var(--padding) 0 0 var(--padding);
    float: left;
    width: calc(100% - 400px);
}

main h1 {
    padding: 0 0 var(--padding) 0;
}

.info-item {
    margin-top: var(--padding);
    padding: var(--padding);
    border-radius: 12px;
    border: 2px solid var(--tir-color);
}

.icon {
    padding-right: 8px;
}

.info-item.command-info {
    display: flex;
}

.info-item div {
    justify-content: left;
    width: 35%;
}

.info-item:hover {
    background-color: var(--sec-color);
}

.aliases * {
    display: inline-block;
}

.highlight, .highlight * {
    background-color: var(--sec-color);
    color: lightpink;
    padding: 2px;
    border-radius: 4px;
}

/*
    Other
 */

.js {
    display: none;
}
