@import "reset.css";

/*
	Whole Page
 */

html, body {
	--pri-color: #202020;
	--sec-color: #282828;
	--tir-color: #3B3B3B;
	--text-color: white;
	--lowlight: 0.75;

	height: 100%;
}

body {
	background-color: var(--pri-color);
	color: var(--text-color);

	font-family: Raleway, sans-serif;
	font-size: large;
}

h1, h2, h3, h4, h5, h6, a {
	color: var(--text-color);
}

pre, code {
	font-family: monospace;
}

a {
	text-decoration: none;
}

/*
	Misc
 */

.hover:not(.selected) {
	opacity: var(--lowlight);
}

.hover:hover {
	opacity: 1.00;
}

.inline {
	display: inline-block;
}

li {
	list-style-type: none;
}

.aliases * {
	display: inline-block;
}

.highlight, .highlight * {
	background-color: var(--sec-color);
	color: lightpink;
	padding: 2px;
	border-radius: 4px;
}

.command-id {
	padding: 0 4px 0 0;
}

/*
	Header
 */

header {
	--header-height: 64px;

	height: var(--header-height);
	line-height: var(--header-height);

	background-color: var(--tir-color);
	padding: calc(var(--header-height) / 4);
}

header * {
	height: 100%;
	vertical-align: middle;
	display: inline;
	font-size: calc(var(--header-height) / 1.5);
}

header h1, header li {
	margin: 0 4px;
}

form {
	float: right;
}

#logo {
	height: var(--header-height);
}

/*
	Panels
 */

#content {
	height: 100%;
}

/*
	Left Panel
 */

nav {
	float: left;
	min-width: 256px;
	background-color: var(--sec-color);
	height: 100%;
}

.bot-title  {
	text-align: center;
	margin: 0;
}

nav h1 {
	padding: 16px 0 16px 16px;
}

nav ul {
	padding-bottom: 16px;
	padding-left: 16px;
	list-style: none;
}

/*
	Right Panel
 */

main {
	margin: 16px 0 0 16px;
	float: left;
	width: calc(100% - 400px);
}

main h1 {
	padding: 0 0 16px 0;
}

.info-item {
	margin-top: 12px;
	padding: 12px;
	border-radius: 12px;
	border: 2px solid var(--tir-color);
}

.icon {
	padding-right: 8px;
}

.info-item.command-info {
	display: flex;
}

.info-item div {
	justify-content: left;
	width: 50%;
}

.info-item:hover {
	background-color: var(--sec-color);
}

#search {
	outline: none;

	background-color: var(--sec-color);
	color: rgba(var(--text-color), var(--lowlight));
	height: 50%;
	font-size: 28px;

	margin-left: 16px;
	padding: 8px;

	border: 2px solid var(--tir-color);
	border-radius: 8px;
}

/*
    Other
 */

.js {
	display: none;
}
